{% extends "_base.html" %}
{% load static %}

{% block content %}
  <header class="bg-primary-dark text-white py-3">
    <div class="container d-flex justify-content-between align-items-center">
      <img src="{% static "img/logo.png" %}" alt="" width="" height="60">
      <nav>
        <ul class="list-inline fs-2">
          <li class="list-inline-item me-5">Baş sahypa</li>
          <li class="list-inline-item me-5">Biz barada</li>
          <li class="list-inline-item me-5">Taslamalar</li>
          <li class="list-inline-item me-5">Tehnologiýalar</li>
          <li class="list-inline-item">Habarlaşmak</li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section class="bg-primary-dark text-white py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-6">
            <h1 class="hero-section-heading fw-bold">Sanly Çözgüt IT meýdança</h1>
            <p class="text-white-50 fs-1 fw-semibold mb-5">
              «Sanly Çözgüt IT meýdança» HJ sanly ykdysadyýete geçmek üçin
              programma üpjünçilikleri we ýokary derejeli IT hyzmatlary ýerine
              ýetirýär.
            </p>
            <button class="btn-primary-light px-5 py-3">Tanyşmak</button>
          </div>
          <div class="col-6">
            <img class="img-fluid" src="{% static "img/hero-img.png" %}" alt="" width="" height="">
          </div>
        </div>
      </div>
    </section>
    <section class="bg-gray">
      <div class="container d-flex align-items-center justify-content-between py-4">
        <img class="img-fluid" src="{% static "img/html.png" %}" alt="" width="100" height="">
        <img class="img-fluid" src="{% static "img/css.png" %}" alt="" width="100" height="">
        <img class="img-fluid" src="{% static "img/js.png" %}" alt="" width="100" height="">
        <img class="img-fluid" src="{% static "img/python.png" %}" alt="" width="100" height="">
        <img class="img-fluid" src="{% static "img/go.png" %}" alt="" width="100" height="">
        <img class="img-fluid" src="{% static "img/cpp.png" %}" alt="" width="100" height="">
      </div>
    </section>
    <section class="py-5">
      <h2 class="section-heading text-primary-dark fw-bold text-center mb-3">BIZ BARADA</h2>
      <div class="subheading-line mb-5"></div>
      <div class="container">
        <div class="row">
          <div class="col-6 px-4">
            <p class="mb-4">
              «Sanly Çözgüt IT meýdança» HJ sanly ykdysadyýete geçmek üçin
              programma üpjünçilikleri we ýokary derejeli IT hyzmatlary ýerine
              ýetirýär.
            </p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2-all text-primary-light"></i> Web Dizaýn</li>
              <li><i class="bi bi-check2-all text-primary-light"></i> Serwer</li>
              <li><i class="bi bi-check2-all text-primary-light"></i> Photoshop</li>
            </ul>
          </div>
          <div class="col-6 px-5">
            <p class="mb-4">
              Anyk kesgitlenen möhletde netijelere ýetmek üçin iň oňat çözgütleri
              hödürleýäris. Siz hem ykdysadyýete geçmek üçin programma
              üpjünçilikleri we ýokary derejeli IT hyzmatlaryndan peýdalanyň!
              Giňişleýin maglumat üçin aşakdaky düwmäni ulanyp bilersiňiz.
            </p>
            <button class="btn-primary-outline-light py-3 px-5">Tanyşmak</button>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-gray py-5">
      <h2 class="section-heading text-primary-dark fw-bold text-center mb-3">HYZMATLARYMYZ</h2>
      <div class="subheading-line mb-3"></div>
      <p class="text-center mb-5">«Sanly Çözgüt IT meýdança» HJ sanly ykdysadyýete geçmek üçin programma üpjünçilikleri we ýokary derejeli IT hyzmatlary ýerine ýetirýär.</p>
      <div class="container">
        <div class="row justify-content-between">
          <div class="bg-white service-card">
            <i class="bi bi-rocket-takeoff text-primary-light fs-service-icon"></i>
            <h3 class="text-primary-dark fs-1 my-3">Web programmalar</h3>
            <p>Biz size web programma üpjünçiliginde kömek edip bileris</p>
          </div>
          <div class="bg-white service-card">
            <i class="bi bi-file-earmark-code text-primary-light fs-service-icon"></i>
            <h3 class="text-primary-dark fs-1 my-3">Web dizaýn</h3>
            <p>Biz size web dizaýnda kömek edip bileris</p>
          </div>
          <div class="bg-white service-card">
            <i class="bi bi-android2 text-primary-light fs-service-icon"></i>
            <h3 class="text-primary-dark fs-1 my-3">Android</h3>
            <p>Biz size Android programma üpjünçiliginde kömek edip bileris</p>
          </div>
          <div class="bg-white service-card">
            <i class="bi bi-code-slash text-primary-light fs-service-icon"></i>
            <h3 class="text-primary-dark fs-1 my-3">Kiber howpsyzlyk</h3>
            <p>Biz size kiber howpsyzlyk üpjünçiliginde kömek edip bileris</p>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <h2 class="section-heading text-primary-dark fw-bold text-center mb-3">TASLAMALAR</h2>
      <div class="subheading-line mb-3"></div>
    </section>
    <footer class="bg-gray py-5">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <h2 class="text-primary-dark fs-1 fw-bold">«SANLY ÇÖZGÜT IT MEÝDANÇA» HJ</h2>
            <p>
              WC57+94V, Aşgabat, Türkmenistan
              <br><br>
              <strong>Telefonlar:</strong> 499401, 499402, 499403
              <br>
              <strong>E-poçta:</strong> it@sanly.tm
            </p>
          </div>
          <div class="col-3">
            <h3>Sahypalar</h3>
            <ul>
              <li>Baş sahypa</li>
              <li>Biz barada</li>
              <li>Hyzmatlarymyz</li>
              <li>Taslamalar</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </main>
{% endblock content %}
